In [1]:
my_dict = {1: "Apple", 2: "mango", 3: "Pineapple", 4: "Cherry"}
print(my_dict)

{1: 'Apple', 2: 'mango', 3: 'Pineapple', 4: 'Cherry'}

In [2]:
#add elemnt in dictionary
my_dict = {1: "Apple", 2: "mango", 3: "Pineapple", 4: "Cherry"}
my_dict[5]= "banana"
my_dict[6]= "orange"
print(my_dict)

{1: 'Apple', 2: 'mango', 3: 'Pineapple', 4: 'Cherry', 5: 'banana', 6: 'orange'}

In [3]:
#changing dictionary element
my_dict = {1: "Apple", 2: "mango", 3: "Pineapple", 4: "Cherry"}
my_dict[3]= "watermelon"
print(my_dict)

{1: 'Apple', 2: 'mango', 3: 'watermelon', 4: 'Cherry'}

In [4]:
#removing element from dictionary using pop method
my_dict = {1: "Apple", 2: "mango", 3: "Pineapple", 4: "Cherry"}
my_dict.pop(2)
print(my_dict)

{1: 'Apple', 3: 'Pineapple', 4: 'Cherry'}

In [6]:
#removing element from dictionary using pop item method
my_dict = {1: "Apple", 2: "mango", 3: "Pineapple", 4: "Cherry"}
my_dict.popitem()
print(my_dict)

{1: 'Apple', 2: 'mango', 3: 'Pineapple'}

In [7]:
#removing elemnt form dictionary using clear method
my_dict = {1: "Apple", 2: "mango", 3: "Pineapple", 4: "Cherry"}
my_dict.clear()
print(my_dict)

{}

In [9]:
#removing elements from dictionary using del method
my_dict = {1: "Apple", 2: "mango", 3: "Pineapple", 4: "Cherry"}
del my_dict[1]
print(my_dict)

{2: 'mango', 3: 'Pineapple', 4: 'Cherry'}

In [11]:
#convert two lists into a dictionary
keys= ["a","b","c","d"]
value = [100,200,300,400,500]
res = dict(zip(keys,value))
print(res)

{'a': 100, 'b': 200, 'c': 300, 'd': 400}

In [16]:
#merge two dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3 ={**dict1 , **dict2}
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [19]:
# Print the value of key ‘history’ from the below dict
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(sampleDict['class']['student']['marks']['history'])

80

In [20]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

res = dict.fromkeys(employees, defaults)
print(res)

# Individual data
print(res["Kelly"])

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}
{'designation': 'Developer', 'salary': 8000}

In [21]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york" }

keys = ["name", "salary"]

newDict = {k: sampleDict[k] for k in keys}
print(newDict)

{'name': 'Kelly', 'salary': 8000}

In [24]:
#Check if a value exists in a dictionary
dict= {1 : 200, 2:300, 3:400} #to check 200 present or not
if 200 in dict.values():
  print("200 present in the dictionary")

200 present in the dictionary

In [28]:
#rename key in the dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
sample_dict["location"] = sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [29]:
#to get minimum key from the dict
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
print(min(sample_dict, key= sample_dict.get))

Math

In [32]:
#chnage value of a key in nested dictionary
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 6500}
}

sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}