In [1]:
#print set
x = {1,2,3,4}
print(x)

{1, 2, 3, 4}

In [3]:
#adding elemnt in set
x = {1,2,3,4}
x.add(5)    #set does not allow duplicate value
print(x)

y = {1,2,3,4,5}
y.add(4)
print(y)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [4]:
#clear method
x = {1,2,3,4}
x.clear()
print(x)

set()

In [5]:
#copy method
x = {1,2,3,4}
x.copy()
print(x)

{1, 2, 3, 4}

In [6]:
#difference method
x = {1,2,3,4}
y =  {6,7,8,2}
z =x.difference(y)
print(z)

{1, 3, 4}

In [7]:
#difference update method
x = {1,2,3,4}
y =  {6,7,8,2}
x.difference_update(y)
print(x)

{1, 3, 4}

In [8]:
#discard method
x = {1,2,3,4,5,6}
x.discard(3)
print(x)

{1, 2, 4, 5, 6}

In [9]:
#intersection method
x = {1,2,3,4}
y =  {6,7,8,2}
z = x.intersection(y)
print(z)

{2}

In [11]:
#intersection_update method
x = {1,2,3,4}
y =  {6,7,8,2}
x.intersection_update(y)
print(x)

{2}

In [12]:
#is disjoint method
x = {1,2,3,4}
y =  {6,7,8,2}      #returns false if any one value is same
z = x.isdisjoint(y)
print(z)

False

In [13]:
#is subset method
x = {1,2,3,4}
y =  {6,7,8,1,2,3,4,5}
z = x.issubset(y)
print(z)

True

In [14]:
# is superset method
x = {5,6,7,8,9,1,2,3,4}
y = {1,2,3,4}
z = x.issuperset(y)
print(z)

True

In [15]:
#pop method
x = {1,2,3,4}     #delete random element
x.pop()
print(x)

{2, 3, 4}

In [16]:
#remove method
x = {1,2,3,4,5}
x.remove(4)
print(x)

{1, 2, 3, 5}

In [17]:
#symmetric differnce method
x = {1,2,3,4}
y =  {6,7,8,2}
z = x.symmetric_difference(y)
print(z)

{1, 3, 4, 6, 7, 8}

In [18]:
x = {1,2,3,4}
y =  {6,7,8,2}
x.symmetric_difference_update(y)
print(x)

{1, 3, 4, 6, 7, 8}

In [19]:
#union method
x = {1,2,3,4}
y =  {5,6,7,8,2}
z = x.union(y)
print(z)

{1, 2, 3, 4, 5, 6, 7, 8}

In [21]:
#add a list of elements to the set
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
sample_set.update(sample_list)
print(sample_set)

{'Yellow', 'Black', 'Green', 'Red', 'Orange', 'Blue'}

In [22]:
#return a new set of identical items from two sets
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
print(set1.intersection(set2))

{40, 50, 30}

In [23]:
#get only umique items from two sets
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

In [24]:
#update the first set with items that doesnt exist in the second list
set1 = {10,20,30}
set2 = {20,40,50}
set1.difference_update(set2)
print(set1)

{10, 30}

In [27]:
#remove items from the set at once
#remopve 10,20,30
set1= {10,20,30,40,50}
set1.difference_update({10,20,30})
print(set1)

{50, 40}

In [30]:
#return a set of elemnts present in setA or B but not in both
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
set3= set1.symmetric_difference(set2)
print(set3)

{20, 70, 10, 60}

In [31]:
#check if two sets have any elemnt common if yes display the common element
set1= {10,20,30,40,50}
set2= {60,70,80,90,10}
if set1.isdisjoint(set2):
  print("Two sets have no common elemnt")
else:
  print("Two sets have common elemnt")
  print(set1.intersection(set2))

Two sets have common elemnt
{10}

In [33]:
#update set1 by adding elemnts in set2 except common elemnts
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
set1.symmetric_difference_update(set2)
print(set1)

{20, 70, 10, 60}

In [34]:
#remove items from set1 that are not common to both set1 and set2
set1 = {10,20,30,40,50}
set2 = {30,40,50,60,70}
set1.intersection_update(set2)
print(set1)

{40, 50, 30}