In [1]:
#print int tuple
t = (1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

In [2]:
#char tuple
t = ('a','b','c','d')
print(t)

('a', 'b', 'c', 'd')

In [3]:
#string tuple
t = ("hello", "world")
print(t)

('hello', 'world')

In [14]:
#del operator
my_tuple = (1,2,3,4,5)
del my_tuple

In [17]:
#index and count
t = (1,2,3,4,5,3,6)
print(t)
print(t.index(4))
print(t.count(3))

(1, 2, 3, 4, 5, 3, 6)
3
2

In [22]:
#zip
t = (1,2,3,4,5,6)
list = ["a", "b", "c"]
x = zip(t,list)
print(x)
print(tuple(x))

<zip object at 0x7b378d153d80>
((1, 'a'), (2, 'b'), (3, 'c'))

In [23]:
#reverse the tuple
tuple1 = (10,20,30,40,50)
tuple1 = tuple1[::-1]
print(tuple1)

(50, 40, 30, 20, 10)

In [24]:
#Acess value 20 from the tuple
tuple1 = ("Orange", [10,20,30], (5,15,25))
print(tuple1[1][1])

20

In [25]:
#create a tuple with single item 50
tuple1 = (50,)
print(tuple1)

(50,)

In [26]:
#unpack the tuple into four variables
tuple1 = (10,20,30,40,)
a,b,c,d = tuple1
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [33]:
#swap two tuples in python
tuple1 = (10,20)
tuple2 = (50,60)
tuple1 , tuple2 = tuple2, tuple1
print("Tuple 1: ",tuple1)
print("Tuple 2 : ",tuple2)

Tuple 1:  (50, 60)
Tuple 2 :  (10, 20)

In [37]:
#copy specific elements from 1 tuple to a new tuple
tuple1 = (11,22,33,44,55)
tuple2 = tuple1[1:4]
print("New tuple : ", tuple2)

New tuple :  (22, 33, 44)

In [38]:
#Modify the tuple
tuple1 = (11, [22,33],44,55)
tuple1[1][1]= 3333
print(tuple1)

(11, [22, 3333], 44, 55)

In [40]:
#sort a tuple of tuples by 2nd item
tuple1 = (('a',23),('b',37),('c',11),('d',29))
del list
tuple1 = tuple(sorted(list(tuple1), key = lambda x:x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [41]:
#count the number of occurancences of item 50 from a tuple
tuple1 = (50,10,60,70,50)
print(tuple1.count(50))

2

In [42]:
#check if all items in the tuple are same
tuple1 = (45,45,45,45)
def check(t):
    return all(i == t[0] for i in t)
print(check(tuple1))

True